/* Space Mono styling from google font website */


.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
}



/* styling for main body */


body {
    background: #EAE3D7;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: black;

    margin-bottom: 10px;

}

.banner {
    background: #EAE3D7;
    border-bottom: 3px solid black;
}

.main-zone {
    height: 80vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.bike-element {
    display: flex;
    justify-content: center;
    align-content: center;
    transition: transform 0.4s cubic-bezier(0.23, -0.66, 0.52, 1);
}

.bike-element img {
    width: 35vw;
}

.tripod-element {
    position: absolute;
    left: -25vw;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.tripod-element img {
    width: 25vw;
}

.shop-element {
    position: absolute;
    right: -28vw;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.shop-element img {
    width: 28vw;
}

.right-button-zone {
    display: flex;
    justify-content: center;
    align-content: center;

}

.left-button-zone {
    display: flex;
    justify-content: center;
    align-content: center;

}

button {
    position: relative;
    background-color: #FF5100;
    color: white;
    padding: 5px 25px;
    z-index: 3;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.bikeObject {
    background-color: blue;
    padding: 5px 25px;
}

.addBikeButton {
    margin: 30px;
    width: fit-content;
}

.addBikeButton button {
    position: relative;
    background-color: #E0D5C3;
    color: #030033;
    padding: 50px;
    z-index: 3;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Space Mono", monospace;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
}

.addBikeButton button img {
    width: 250px;
}

button p {
    padding: 20px 30px;
}