.bikes-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 20px;
    gap: 20px;
}

.addBikeButton {
    margin: 30px;
    width: fit-content;
}

.addBikeButton button {
    position: relative;
    background-color: #E0D5C3;
    color: #030033;
    padding: 50px;
    z-index: 3;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Space Mono", monospace;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
}

.addBikeButton button img {
    width: 250px;
}

button p {
    padding: 20px 30px;
}

.bikeObject {
    margin: 30px;
    width: fit-content;
}

.bikeObject button {
    position: relative;
    background-color: #E0D5C3;
    color: white;
    padding: 50px;
    z-index: 3;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: "Space Mono", monospace;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;

    transition: scale 0.2s ease-in-out;
}

.bikeObject button:hover {
    scale: 105%;
}

.bikeObject button img {
    width: 250px;
}

.bikeObject button p {
    padding: 20px 30px;
}

.bikeDetailsWindow {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    z-index: 5;

    background-color: #FF5100;
    color: white;

    border-radius: 20px;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.bikeDetailsWindow {
    padding: 40px;
    display: none;
}

input[type=text],
select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    margin-bottom: 20px;
    display: inline-block;
    font-family: "Space Mono", monospace;
    border: 2px solid grey;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    margin-top: 40px;
    display: inline-block;
    font-family: "Space Mono", monospace;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    color: white;
    background-color: #030033;
    cursor: pointer;
}


.bikeDetailsWindow h3 {
    color: white;
    font-family: "Space Mono", monospace;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    margin: 0;

}

.bikeDetailsWindow label {
    font-size: 20px;
}