/* Space Mono styling from google font website */


.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
}



/* styling for main body */


body {
    background: #EAE3D7;
    overflow-x: hidden;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

main h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: white;
    background-color: #FF5100;

    margin-bottom: 10px;

}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: black;

    margin-bottom: 10px;

}

.banner {
    background: #EAE3D7;
    border-bottom: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h3 {
    width: fit-content;
}

.main-zone {
    height: 80vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;

}

.right-button-zone {
    display: flex;
    justify-content: center;
    align-content: center;

}

.left-button-zone {
    display: flex;
    justify-content: center;
    align-content: center;

}

canvas {
    position: absolute;
    z-index: 0;
}

button {
    position: relative;
    background-color: #FF5100;
    color: white;
    padding: 5px 25px;
    z-index: 3;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.footer-text {
    bottom: 0vh;
    border-top: 2px solid black;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.empty-placeholder {
    display: inline-block;
    height: 90vh;
}

footer {
    top: 100vh;
    bottom: 0vh;

}

summary {
    font-family: "Space Mono", monospace;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    border-bottom: 2px dashed black;
    margin: 20px;

}

details {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}